/* Styles are organized top-down */
* {
    cursor: context-menu;
}
@media screen and (max-width: 2399px) {
    body {
        zoom: 100%;
    }
}
body {
    zoom: 80%;
    margin: 0;
    background-color: black;
    color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
/* Chrome autocomplete styles */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

.wrapper {
    display: flex;
    justify-content: center;
}
/* Contact wrapper*/
.contact-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-transition: left 1.3s linear;
}
.about-us {
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #AD1515, #424242 40%, black 80%);
}
.bigger {
    font-size: 30px;
}
#about-text {
    position: relative;
    top: 3.6in;
    left: 1in;
    height: 20%;
    width: 40%;
    font: bold 175px 'Open Sans', sans-serif;
    line-height: 150px;
}
#first-paragraph {
    left: -13px;
    top: 2.6in;
}
#second-paragraph {
    top: 50px;
    left: 0.6in;
    width: 35%;
}
#third-paragraph {
    right: 3in;
    top: 7in;
    width: 40%;
    position: absolute;
}
.about-context {
    position: relative;
    width: 20%;
    font: 24px 'Open Sans', sans-serif;
}
#to-main-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 4.6in;
    right: 10%;
    width: 3.65in;
    height: 1in;
    position: absolute;
    background-image: linear-gradient(to right, #AD1515 60%, #E84141);
    font: 600 50px 'Oswald', sans-serif;
    border-radius: 5px;
    -webkit-transition: right 0.5s linear;
}
#to-main-button:hover {
    transition: 0.5s linear;
    right: 5%;
}
.contact-wrapper-position {
    left: 100%;
}
/* Main wrapper */
.main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -2;
}
.header, .content, .contact-info-container {
    display: inherit;
    width: 100%;
}
.header {
    height: 145px;
}
.home-content {
    display: flex;
    width: 100%;
    height: 726.75px;
}
.contact-info {
    justify-content: space-between;
    height: 100px;
}
.gad-logo {
    position: relative;
    width: 270px;
    height: 290px;
    top: -40%;
    left: 96px;
}
.home-bar {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 615px;
    top: 15%;
    left: 163px;
}
.search-bar {
    display: inherit;
    position: relative;
    align-items: center;
    justify-content: space-between;
    min-width: 672px;
    width: 35%;
    height: 38%;
    top: 47%;
    left: 260px;
}
.homebar-buttons {
    background-color: black;
    border: none;
    color: inherit;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 37px;
    padding: 10px 15px;
}
.homebar-buttons:hover {
    color: #AD1515;
}
.init {
    background-image: linear-gradient(to bottom, black 97%, #911111 3%);
}
#search {
    height: 100%;
    border: none;
    border-radius: 120px;
    outline: none;
    font-size: 20px;
    width: 45%;
    padding: 0 30px;
}
#search:hover {
    background-color: #dddddd;
}
.fa-search {
    position: relative;
    left: 70%;
    transform: scale(1.5);
    color: #171717;
}
.fa-user-circle, .fa-shopping-cart {
    transform: scale(2.5);
}
.fa-user-circle:hover, .fa-shopping-cart:hover, .fa-eye:hover {
    color: #AD1515;
}
.liquor-bg {
    width: 1478.4px;
    position: absolute; 
    top: 235px;
    left: -390px;
    object-fit: contain;
}
.content {
    position: absolute;
    flex-direction: column;
    align-items: center;
    -webkit-transition: top 1.3s linear;
}
.context {
    flex-direction: column;
    position: inherit;
    left: 9.7in;
}
.main-context {
    width: 915.31px;
}
.support-context {
    position: inherit;
    bottom: -170px;
    left: 0px;
    font-family: 'Nixie One', cursive;
    font-size: 80px;
    text-align: center;
    letter-spacing: 1px;
}
.one-time {
    position: inherit;
    left: 12in;
    top: 5in;
}
.otp {
    background-color: #AD1515;
    border: none;
    border-radius: 10px;
    color: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 600;
    width: 12.5em;
    height: 60px;
}
.otp:hover {
    background-color: inherit;
    background-color: #E63131;
}
.contact-info-container {
    background-color: transparent;
}
.contact-info-buttons {
    position: relative;
    top: 45px;
    left: 85px;
    background: none;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 900;
    color: inherit;
    letter-spacing: 1.4px;
    word-spacing: 1px;
    padding: 0 20px;
}
.contact-info-buttons:hover {
    color: #AD1515;
}
/* Login Form Syles */
.login-container {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.overlay, .overlays {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    background-color: #8d8b8b;
    opacity: 80%;
    left: 0;
    z-index: -1;
}
.login {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom right, #AD1515, black 90%);
    width:  325px;
    height: 500px;
    border-radius: 5px;
    padding: 2.5%;
    box-sizing: content-box;
}
.fa-times {
    transform: scale(2);
    position: absolute;
    top: 5%;
    right: 7%;
}
#gad-login {
    position: relative;
    transform: scale(0.45);
    background: white;
    padding: 25px;
    border-radius: 50%;
    top: -18%;
    margin-bottom: -43%;
    left: 0;
}
.login-context {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
}
.inputs-line {
    background-image: linear-gradient(to bottom, transparent 97%, #bfbfbf 3%);
    margin: -5% 0 5% 0;
    height: 63px;
}
.inputs {
    background: none;
    font-size: 18px;
    padding: 5px 40px;
    border-radius: 5px;
    width: 90%;
    margin: 2% 0;
    border: none;
    outline: none;
    color: white;
}
.inputs::placeholder {
    color: white;
}
.fa-user, .fa-lock {
    position: relative;
    top: 33px;
    left: 12px;
}
.fa-eye {
    transform: scale(1.3);
    position: relative;
    top: 52%;
    left: 85%;
}
.remember {
    margin: 15px 20px 15px 20px;
    position: relative;
    right: 30%;
}
[type="checkbox"] {
    vertical-align: middle;
}
.remember-me {
    transform: scale(1.5);
    font-size: 14px;
    width: 30px;
}
.login-button-container {
    display: flex;
    justify-content: center;
    margin: 10% 5.2%;
}
.login-button {
    color: #616161;
    font-size: 16px;
    padding: 13px 30px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}
@keyframes login-button-fade {
    from {background-color: white;}
    to {background-color: #AD1515; color: white;}
}
.login-button:hover {
    animation: login-button-fade 0.5s forwards;
}
.forgot {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 12px;
    width: 31%;
}
.forgot:hover {
    background-image: linear-gradient(to bottom, transparent 96%, white 4%);
}
.incoming {
    position: relative;
    top: -40%;
    font-size: 20px;
    width: 90%;
    margin: auto;
}
/* Membership Container*/
.membership-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 9.8in;
    left: 825px;
    -webkit-transition: top 1.3s linear;
    z-index: -2;
}
.membership-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 70px;
    margin-bottom: -7%;
    font-family: 'Nixie One', sans-serif;
}
.logo-container {
    display: flex;
    justify-content: center;
    width: 3.2in;
}
#membership-logo {
    top: -13px;
    left: 0;
}
.membership-form {
    display: flex;
    flex-direction: column;
    margin: 0 25% 10px 25%;
    background-color: #AD1515;
    padding: 10px;
    border-radius: 10px;
}
.discount-flag {
    font-size: 28px;
    padding: 0 0 30px 0;
}
.membership-inputs {
    font-size: 18px;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 5px;
    border: none;
    width: 2.8in;
}
.membership-button {
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #AD1515;
    border: none;
    width: 2.5in;
    border-radius: 5px;
}
/* Class toggles */
.display {
    display: flex;
}
.no-display {
    display: none;
}
.slide {
    transition: 1.3s ease-out;
}
.content-div-position {
    top: 2.8in;
}
.content-div-slide-out {
    top: 125%;
}
.membership-container-slide-in {
    top: 140px;
}
.membership-container-position {
    top: -1080px;
}
.shop-wrapper-slide-in {
    left: 0%;
}
.shop-wrapper-position {
    left: 115%;
}
/* Shop wrapper*/
.shop-wrapper {
    position: fixed;
    top: 0;
    width: 1920px;
    height: 1080px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop-background {
    position: absolute;
    width: 1920px;
    height: 1080px;
    z-index: -2;
}
.shop-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1C1C1C;
    opacity: 75%;
    z-index: -1;
}
.shop-container {
    display: flex;
    position: absolute;
    top: 15%;
    width: 75%;
    height: 65%;
}
.liquor-highlight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
    background-image: linear-gradient(to bottom, #AD1515 60%, #E84141);
}
.liquor-content {
    width: 65%;
    height: 100%;
    background-color: #1C1C1C;
}
.shop-container-mask {
    position: absolute;
    top: 75%;
    left: 35%;
    background-image: linear-gradient(to bottom, #AD1515 60%, #E84141);
    width: 81.7%;
    height: 45%;
    z-index: -1;
}
.fa-arrow-alt-circle-left {
    position: absolute;
    top: 6%;
    left: 3.3%;
    transform: scale(3);
    background-color: #1C1C1C;
    padding: 1px;
    color: #AD1515;
    border-radius: 50%;
}
.fa-arrow-alt-circle-left:hover {
    transition: 0.2s ease-in;
    color: #AD1515;
    background-color: white;
}
#gad-shop {
    transform: scale(0.25);
    position: absolute;
    top: -19%;
    left: 18%;
    background-color: #1C1C1C;
    padding: 50px;
    border-radius: 50%;
}
.selection-container {
    display: flex;
    position: absolute;
    left: 35%;
    width: 100%;
    height: 90%;
    background-color: white;
}
.highlight-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5%;
    height: 70%;
    width: 80%;
}
.highlight-container img {
    transform: scale(1.8);
    position: absolute;
    top: 10%;

}
.liquor-content-header {
    width: 100%;
    height: 1in;
    background-color: #232427;
}
.liquor-tabs-container {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 6in;
    padding-left: 20px;
}
.cart {
    display: flex;
    position: relative;
    left: 140%;
    height: 100%;
    width: 15%;
    align-items: center;
    justify-content: center;
}
.cart-icon {
    position: relative;
    padding: 2px;
}
.cart-icon:hover, #shop-cart-icon:hover {
    color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
}
.cart-icon-counter {
    display: flex;
    position: absolute;
    background-color: #E53F3F;
    top: -8%;
    right: -3.5%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    font: bold 20px 'Open Sans', sans-serif;
}
#shop-cart-icon {
    padding: 2px;
    position: relative;
}
#cart-counter {
    top: 16%;
    right: 11%;
}
.liquor-tabs {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    padding: 0 20px;
}
.liquor-tabs:hover {
    background-color: #212121;
}
.content-offers, .liquor-description {
    flex-direction: column;
    width: 100%;
    height: 6.3in;
    align-items: center;
}
.liquor-description {
    position: absolute;
    top: 32%;
    right: 15%;
    width: 45%;
    height: 70%;
    font: 30px 'Open Sans', sans-serif;
}
.alcohol-level {
    position: absolute;
    top: 60%;
    left: 40%;
    width: 17%;
    height: 6%;
    font: 30px 'Open Sans', sans-serif;
}
.price-box {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 17%;
    right: 5%;
    width: 55%;
    height: 12%;
    font: bold 50px 'Oswald', sans-serif;
}
.add-to-cart {
    position: absolute;
    top: 25%;
    right: 45%;
    color: #BFBFBF;
    background-color: #c37105;
    padding: 0 15px;
    border-radius: 5px;
    text-align: center;
    font: 600 36px 'Open Sans', sans-serif;
}
.add-to-cart:hover {
    transition: 0.2s ease-out;
    background-color: #F58E07;
}
.first-offer, .second-offer {
    font: bold 50px 'Nixie One', cursive;
    height: 1.5in;
    width: 75%;
    align-items: center;
    justify-content: center;
    color: #E53F3F;
    text-align: center;
}
.images-container {
    display: flex;
    height: 70%;
    width: 90%;
    justify-content: space-between;
}
.liquor-image-containers {
    width: 100%;
    height: 70%;
    background-color: #232427;
    border-radius: 10px;
    margin: 2%;
}
.image {
    transform: scale(0.9);
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}
.image:hover {
    background-image: linear-gradient(to bottom, #AD1515 60%, #E84141);
}
/* Cart wrapper styles*/
.cart-wrapper {
    position: absolute;
    width: 100%;
    height: 10in;
    align-items: center;
    justify-content: center;
}
.checkout-overlay {
    width: inherit;
    height: 106%;
    background-color: #8b8b8b;
    opacity: 50%;
}
.checkout-form, .checkout-form-overlay {
    flex-direction: column;
    position: inherit;
    height: 754px;
    width: 480px;
    border-radius: 50px;
    background-color: white; 
    box-shadow: 4px 4px 0 0 #AD1515, 8px 8px 0 0 black;
}
.checkout-header {
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18%;
    color: #171717;
    font: 600 42px 'Open Sans', sans-serif;
}
.checkout-content {
    display: inherit;
    flex-direction: column;
    position: absolute;
    width: 99.2%;
    height: 5in;
    top: 13%;
    background-color: #F7F7F7;
    border-radius: 30px;
    overflow: auto;
    border: 2px solid #424242;
    padding-bottom: 1.5in;
}
.checkout-content::-webkit-scrollbar {
    display: none;
}
.checkout-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    background-color: white;
    left: 0;
    width: 4.55in;
    height: 0.6in;
    border-radius: 30px 30px 50px 50px;
    border: 2px solid #424242;
    padding: 20px;
}
.fa-arrow-left {
    color: #171717;
    position: absolute;
    transform: scale(0.7);
    top: 6.5%;
    left: 7%;
}
.fa-arrow-left:hover {
    top: 5.7%;
    left: 5.2%;
    padding: 3px 6px;
    border: 3px solid #171717;
    border-radius: 5px;
}
.checkout-item {
    height: 20%;
    width: 90%;
    margin: 5% 5% 0 5%;
    border-radius: 30px;
    background-color: white;
    box-shadow: 7px 7px 5px -2px #797979;
    font-size: 100px;
    position: relative;
    left: -10px;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
}
.total {
    width: 50%;
    height: 30%;
    font: 600 40px 'Open Sans', sans-serif;
    color: #424242;
}
.checkout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 3%;
    background-color: #AD1515;
    height: 0.5in;
    width: 40%;
    border-radius: 50px;
    font-size: 32px;
    padding: 0 10px;
    box-shadow: 0 7px 0 0 #121214;
    border: 2px solid #121214;
}
.checkout-button:hover {
    box-shadow: unset;
    top: 7%;
    background-color: #e52e2d;
}
.checkout-item {
    display: flex;
    width: 4.2in;
    height: 1in;
    position: relative;
    left: 3px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid #424242;
}
.item-name {
    font-size: 32px;
    color: #424242;
}
.item-price {
    font-size: 40px;
    color: #424242;
}
.fa-trash-alt {
    position: absolute;
    left: 78%;
    color: #AD1515;
    transform: scale(0.5);
}
.fa-trash-alt:hover {
    transition: 0.1s linear;
    transform: scale(0.57);
}
.otp-and-membership-wrapper {
    display: flex;
    justify-content: center;
}
.overlay-contents {
    position: absolute;
    top: 1in;
    width: 13in;
    border-radius: 10px;
    color: #BA1717;
    font: 600 70px 'Open Sans', sans-serif;
    padding: 50px;
    text-justify: inter-word;
    background-image: linear-gradient(135deg, white, #C5C5C5);
}
#otp-message {
    width: 11.9in;
}
.omw-button {
    align-items: center;
    justify-content: center;
    position: relative;
    width: 5in;
    height: 1in;
    position: relative;
    top: 7in;
    font: 900 50px 'Nixie One', cursive;
    background-color: #AD1515;
    border-radius: 50px;
}
.omw-button:hover {
    background-color: #E64141;
}
.location, .contact-number {
    top: 150px;
    left: 28px;
    height: 50px;
    width: 4in;
    color: black;
    position: absolute;
    font: bold 26px 'Nixie One', cursive;
    border-radius: 10px;
    padding: 5px 20px;
    outline: none;
}
.checkout-context, .payment-mode, .credit-card {
    color: #424242;
    position: absolute;
    left: 20px;
    padding: 5px 20px;
    font: 30px 'Open Sans', sans-serif;
    border-radius: 10px;
    left: 38px;
}
.checkout-context {
    top: 0.3in;
    font-size: 50px;
    width: 3.8in;
    height: 1in;
    justify-content: center;
    display: flex;
}
.payment-mode {
    top: 3.5in;
    width: 3.8in;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
.cash, .credit {
    width: 1.3in;
    height: 0.5in;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 600;
}
.powder {
    background-color: powderblue;
}
.contact-number {
    top: 2.5in;
}
.contact-number::-webkit-outer-spin-button,
.contact-number::-webkit-inner-spin-button {
    display: none;
}
.credit-card {
    top: 4.3in;
    width: 4.2in;
    left: 18px;
    justify-content: space-between;
    padding-left: 23px;
}
.credit-field {
    width: 0.8in;
    background-color: #f1f1f1;
    border: 2px solid #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.5in;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
}
.credit-field::-webkit-outer-spin-button,
.credit-field::-webkit-inner-spin-button {
    display: none;
}
.discount-area {
    width: 2in;
    height: 1in;
    position: absolute;
    bottom: 23%;
    left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 600 30px 'Open Sans', sans-serif;
    text-align: right;
    word-spacing: 5in;
    color: #424242;
}
.checkout-total {
    position: absolute;
    bottom: 15%;
    left: 10%;
    width: 4in;
    height: 1in;
    font: 600 40px 'Open Sans', sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #424242;
}
.place-order {
    position: absolute;
    width: 99%;
    height: 0.9in;
    background-image: linear-gradient(145deg, #ad1515, #E84141, #ad1515);
    bottom: 0;
    border-radius: 50px;
    font: bold 45px 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
}
.place-order:hover {
    background-image: linear-gradient(145deg, #E84141, #ad1515, #E84141);
}
#overlay-arrow {
    top: 8.3%;
    left: 10%;
    transform: scale(2);
    z-index: 1;
}
#overlay-arrow:hover {
    border: 2px solid #424242;
    border-radius: 5px;
    top: 7.7%;
    left: 8.3%;
}
.purchase-message {
    font: 600 100px 'Oswald', sans-serif;
    position: absolute;
    width: 9.8in;
    right: 20%;
    background-color: black;
    padding: 0 40px;
    border-radius: 10px;
}
#final-message {
    transform: scale(1);
    position: absolute;
    top: -260%;
    right: -35%;
}